.div-main {
  background-color: rgb(238, 238, 247);
  width: 100%;
}
.navigation {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-family: sans-serif;
  box-shadow: 1px 1px 5px rgb(166, 168, 170);
}
.divOne ul {
  display: flex;
  list-style-type: none;
  margin-top: 4px;
}
.divOne ul li {
  padding: 10px;
}
.divOne ul span {
  padding: 10px;
}
.divTwo ul {
  display: flex;
  list-style-type: none;
  margin-right: 2em;
}
.divTwo ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 25px;
}
.imgIconME {
  width: 20px;
  border-radius: 100%;
  margin-right: 4px;
}
.imgIconCV {
  width: 20px;
}
.imgIconLogout {
  width: 20px;
  margin-right: 4px;
}
.p {
  float: right;
  margin-right: 1em;
  margin-top: 0.6em;
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;
}
hr {
  margin-top: 1.6em;
}
@media (max-width: 800px) {
  .navigation {
    flex-direction: column;
  }
  .divOne ul li {
    padding: 5px;
  }
  .divOne ul span {
    padding: 5px;
  }
  .divTwo ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-left: 12px;
  }
  .p {
    float: right;
    margin-right: 1em;
    margin-top: 0.6em;
    font-weight: bold;
    font-size: 11.5px;
    font-family: sans-serif;
  }
}
