*{
  
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.general--div {
    background-color: rgb(194, 119, 7);
  }
  
.lowerGeneral--div{  
  display: flex;
 /* grid-template-columns: 22% 78%; */
}